<app-card class="h-full overflow-hidden relative">
  @if (id() | isFavorite) {
    <div class="absolute right-0 top-0 px-3 bg-white rounded-bl-3xl cursor-pointer" (click)="toggleFavorite()">
      <span class="material-icons text-xl text-black">favorite</span>
    </div>
  } @else {
    <div class="absolute right-0 top-0 px-3 cursor-pointer hover:text-neutral-400" (click)="toggleFavorite()">
      <span class="material-icons text-xl">favorite_border</span>
    </div>
  }
  <img class="w-full h-56 object-cover" [src]="image()" [alt]="name()" />
  <div class="p-2 px-3">
    <div class="font-display text-2xl truncate">{{ name() }}</div>
    <div class="text-neutral-400 text-md">{{ species() }}</div>
  </div>
</app-card>
