<app-page-header title="Início">
  <app-form-field slot="actions">
    <input
      type="text"
      id="search"
      name="search"
      placeholder="Pesquisar"
      [(ngModel)]="search"
      (ngModelChange)="onSearch($event || '')" />
    <label for="search">Pesquisar</label>
  </app-form-field>
</app-page-header>
<div [ngClass]="{ 'grid grid-cols-12 gap-4': items()?.length }">
  @for (item of items(); track item.id) {
    <app-character-card
      class="col-span-full md:col-span-6 lg:col-span-4 xl:col-span-3"
      [id]="item.id"
      [name]="item.name"
      [species]="item.species"
      [image]="item.image">
    </app-character-card>
  } @empty {
    <app-card class="grid place-content-center min-h-[500px]">
      @if (!items()) {
        <p class="text-center text-lg text-neutral-400">Carregando...</p>
      } @else {
        <h2 class="text-center font-bold text-lg md:text-2xl mb-2">Nada foi encontrado</h2>
        <p class="text-center md:text-lg text-neutral-400">Tente realizar uma nova busca.</p>
      }
    </app-card>
  }
</div>
@if (pagination()?.next) {
  <div class="flex justify-center pt-8">
    <button app-button class="max-md:w-full" [disabled]="loading()" (click)="loadMore()">
      <span>Carregar mais</span>
      @if (loading()) {
        <span class="material-icons animate-spin text-sm">sync</span>
      }
    </button>
  </div>
}
